* {margin: 0; padding: 0;}
img {display: block;}

.wrap {
    max-width: 480px;
    padding: 29px;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
    margin: 0 auto;
    background-color: white;
}

@media (min-width: 1000px) {
    body {
        overflow: hidden;
        background-color: #eee;
    }
    .wrap {
        height: 100vh;
        padding: 40px;
        padding-top: 75px
    }
  }

/* ---------------------- tab-page 1 ----------------------- */
.tab-page {
    width: 100%;
}
.tab-page .tab-title {
    color: #3d3d3d;
    font-size: 18px;
    text-align: center;
    margin-bottom: 26px;
}
.tab-page .terms, 
.tab-page .terms-row {
    color: #707070;
    font-size: 16px;
}
.terms-row {
    width: 100%;
    height: 50px;
    margin-top: 30px;
}
#termschk {display: none;}
.terms-row .terms-label {
    width: 20px;
    height: 20px;
    background-color: #bbb;
    border-radius: 10px;
    float: left;
    margin-right: 7px
}
.terms-row .terms-label .terms-check-img {
    width: 66%;
    padding-left: 17%;
    padding-top: 7%;
}
.terms-row .terms-agree {
    float: left;
    width: calc(100% - 27px);
}

#termschk:checked ~.terms-label {background-color: #7465E8;}

/* ---------------------- tab-page 2 ----------------------- */
.tab-page .col-1 {
    height: 56px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}
.tab-page .form-label {
    display: inline-block;
    width: 70px;
    height: 40px;
    color: #767676;
    font-size: 14px;
    margin-right: 7px;
    margin-top: 11px;
}
.tab-page .row-1 .form-control {
    width: calc(100% - 88px);
    height: 36px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    float: right;
    line-height: 36px;
}

.tab-page .row-1 .form-control:focus {outline:none;}
.tab-page .invalid-feedback {
    color: #707070;
    font-size: 11px;
    margin-top: 8px;
    position: absolute;
    bottom: 0;
    left: 88px;
}

.form-check-input {display: none;}
#pregnancy01:checked ~.row-radio-label-box .pregnancy-check-label01,
#pregnancy02:checked ~.row-radio-label-box .pregnancy-check-label02 {
    border: 2px solid #7465E8;
}

.tab-page .row-2 {
    overflow: hidden;
    margin-bottom: 20px;
}
.tab-page .radio-input-box {
    width: calc(100% - 88px);
    height: 40px;
    float: right;
}
.tab-page .row-radio-label-box {
    display: flex;
    justify-content: space-around;
}
.tab-page .row-2 .row-radio-label-box .form-check-label {
    display: inline-block;
    width: calc(50% - 10px);
    height: 32px;
    font-size: 12px;
    text-align: center;
    color: #252525;
    line-height: 32px;
    border-radius: 10px;
    border: 2px solid #eee;
    margin-top: 4px;
}

input[type='date']::before {
    content: attr(data-placeholder);
    width: 100%;
    float: left;
    margin-top: 9px;
    margin-left: 5px;
    margin: 0;
    padding-left: 5px;
}

input[type='date']:focus::before,
input[type='date']:valid::before {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 7px;
    right: 7px;
}
input[type=date]::-webkit-datetime-edit-year-field { 
    margin-left: 7PX;
  } 

/* ---------------------- tab-page 3-1 ----------------------- */
#sex01:checked ~.row-radio-label-box .sex-check-label01,
#sex02:checked ~.row-radio-label-box .sex-check-label02,
#cancer01:checked ~.row-radio-label-box .cancer-check-label01,
#cancer02:checked ~.row-radio-label-box .cancer-check-label02,
#inoculation01:checked ~.row-radio-label-box .inoculation-check-label01,
#inoculation02:checked ~.row-radio-label-box .inoculation-check-label02 {
    border: 2px solid #7465E8;
}
/* ---------------------- tab-page 3-2 ----------------------- */
.wrap .page-3-2 {display: none;}
#menarche01:checked ~.row-radio-label-box .menarche-check-label01,
#menarche02:checked ~.row-radio-label-box .menarche-check-label02,
#monthlyperiod01:checked ~.radio-label-box .monthlyperiod-check-label01,
#monthlyperiod02:checked ~.radio-label-box .monthlyperiod-check-label02 {
    border: 2px solid #7465E8;
}
/* ---------------------- tab-page 4 ----------------------- */
.tab-page .row-3 {
    height: 124px;
    overflow: hidden;
    margin-bottom: 20px;
}
.tab-page .radio-label-box .form-check-label {
    display: inline-block;
    width: calc(100%);
    height: 38px;
    font-size: 12px;
    color: #252525;
    line-height: 38px;
    border-radius: 5px;
    border: 2px solid #aaa;
    padding-left: 8px;
    margin-bottom: 5px;
    box-sizing: border-box;
}
#smell01:checked ~.radio-label-box .smell-check-label01,
#smell02:checked ~.radio-label-box .smell-check-label02,
#smell03:checked ~.radio-label-box .smell-check-label03 {
    border: 2px solid #7465E8;
}
#itch01:checked ~.row-radio-label-box .itch-check-label01,
#itch02:checked ~.row-radio-label-box .itch-check-label02 {
    border: 2px solid #7465E8;
}
.tab-page .row-4 .form-label {
    float: left;
    line-height: 68px;
    margin-top: 0;
    margin-right: 18px;
}
.tab-page .btn-file-box .btn-file {
    display: inline-block;
    width: 68px;
    height: 68px;
    border: 3px dotted #adbfca;
    border-radius: 12px;
}
.tab-page .btn-file-box .btn-file01 {
    margin-right: 8px;
}
.btn-file-box .btn-file .cam-icon {
    padding-left: 21px;
    padding-top: 12px;
}
.btn-file-box .btn-file .cam-icon-txt {
    color: #666;
    font-size: 9px;
    text-align: center;
    margin-top: 5px;
}

/* ---------------------- tab-page 5 ----------------------- */
.page-final .page5-img-box .img-final {
    width: 300px;
    margin: 70px auto;
}

/* ---------------------- btn-box ----------------------- */
.btn-box .btn {
    width: 54px;
    height: 38px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;   
    background-color: #7465E8;
    float: left;
    margin-top: 50px;
}
.btn-box .prev-btn {
    float: left;

}
.btn-box .next-btn {
    float: right;
}
.btn-box .save-btn,
.btn-box .final-btn{
    width: 100%;
}
